
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Signika+Negative:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');



    *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Signika Negative',sans-serif;
    list-style: none;
    }

    :root{
        --primary-color:#135D66;
    }

   /*header section*/

  nav{
    background-color: #cce7d0;
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  #bar{
    display: none;
  }
  label.logo{
     
     font-size: 35px;
     line-height: 80px;
     padding: 0 100px;
     font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    position: relative;
  }
  nav ul li a{
    color: #135D66;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
    transition: 0.7s all ease;
  }
  ul li a.active,
  ul li  a:hover{
    color:#ef3636 ;
  }
  ul li a.active::after,
  ul li a:hover::after{
   content: "";
   width: 30%;
   height: 2px;
   background-color: #ef3636;
   position: absolute;
   bottom: 26px;
   left: 15px;
  }

  .checkbtn{
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
#check{
  display: none;
}
.shop1{
  display: none;
}

            /*     section     */

   .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url(../img/sportQuialté.jpg) ;
    
    background-size: cover;
    height: 80vh;
    
    width: 100%;
   }
  

   .content{
    padding: 50px 0px;
    
    margin-top: 100px;
    
    
   }

   h2{
    font-size: 50px;
    color: white;
    padding: 10px;
   }

   .btn{
    padding: 10px 45px;
    font-size: 20px;
    margin-left: 10px;
    border-radius: 20px;
    background: #e3fef7;
    color: #003c43;
    cursor: pointer;
    transition: 0.7s ease all;
   
    padding: 15px 30px;
    border: 2px solid transparent;
   }
  .btn:hover{
 background-color: #003c43;
 color: #e3fef7;
  }

  

   span{
    color: #e8c872;
    position: relative;
    
   }



  .categorie-genre{
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-between;
    text-align: center;
    margin: 20px 250px;
     
  }

  .title-categorie{
    font-size: 40px;
    color: #003c43;
    text-align: center;
   margin-top: 20px;
  }


 
  .img{
    border: 1px solid #003c43;
    transition: 0.7s  all ease;
    border-radius: 10px;
  }

  .img:hover{
    scale: 1.06;
  }
  

 P{
    margin-top: 10px;
    font-size: 23px;
 }
 #shop{
  display: none;
 }

           /*     product     */
   
  .section-p1{
    text-align: center;
    
    padding: 20px 100px;
   
  }
  .product-title{
    
    color: #003c43;
    font-size: 50px;
  }
  .section-p1 .pro-container{
    padding: 20px ;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
  }
  html{
    overflow-x: hidden;
  }
 #close{
  display: none;
 }
  .section-p1 .pro-container .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    margin: 15px 0;
    border: 1px solid #cce7d0;
    position: relative;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    transition: 0.3s ease all;

  }
  
  .section-p1 .pro-container .pro img{
    border-radius: 20px;
    width: 100%;
  }
  .section-p1 .pro-container .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.08);
  }

  
  .section-p1  .pro .des{
    text-align: left;
    padding: 10px 0;
  }

  .section-p1  .pro .des span{
    color: #003c43;
    font-size: 12px;
  }
  .section-p1  .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
  }

  .section-p1  .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #135D66;
  }
  .section-p1  .pro .cart{
    width: 80px;
    height: 25px;
    line-height: 40px;
    bottom: 20px;
    right: 15px;
    position: absolute;
    transition: 0.3s ease all;
  }
  .section-p1  .pro .cart:hover{
    color: #135D66 ;
  }
  

  /*section best saller   */
  
 .section3{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
 
 }

 .shoes{
  color: #1a1a1a;
  font-size: 20px;
 }

 .product1 h4{
   margin: 5px 10px;
   color: #135D66;
 }

 .product2 h4{
  margin: 5px 10px;
   color: #135D66;
 }

 .best{
   bottom: 80px;
   position: absolute;
   color: #cce7d0;
   font-size: 45px;
   left: 40px;
 }
 .best-section{
  position: relative;
  margin: 0 20px;
  border: 1px solid  #1a1a1a;
  height: 500px;
  transition: 0.3s ease all;
  border-radius: 10px;
 }

 .product1{
  margin: 0 20px;
  border: 1px solid  #1a1a1a;
  padding: 10px 10px;
  height: 500px;
  transition: 0.3s ease all;
  border-radius: 10px;
 }

 .product2{
  margin: 0 20px;
  border: 1px solid  #1a1a1a;
  height: 500px;
  transition: 0.3s ease all;
  border-radius: 10px;
 
 }
 .product2 p{
  padding: 0 10px;
 }

 .button{
  position: absolute;
  bottom: 30px;
  left: 80px;
  padding: 8px 35px;
  font-size: 18px;
  border-radius: 10px;
  background-color: #135D66;
  color: #cce7d0;
  cursor: pointer;
  transition: 0.3s ease all;
 }
 .button:hover{
  background-color: #cce7d0;
  color: #1a1a1a;
 }

 .best-section:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.09);
 }

 .button1{
  padding: 8px 35px;
  font-size: 18px;
  border-radius: 10px;
  background-color: #135D66;
  color: #cce7d0;
  cursor: pointer;
  margin-top: 58px;
  margin-left: 45px;
  transition: 0.3s ease all;
}
.button1:hover{
  background-color: #cce7d0;
  color: #1a1a1a;
  
}

.button2{
  padding: 8px 35px;
  font-size: 18px;
  border-radius: 10px;
  background-color: #135D66;
  color: #cce7d0;
  cursor: pointer;
  margin-top: 125px;
  margin-left: 45px;
  transition: 0.3s ease all;
}
.button2:hover{
  background-color: #cce7d0;
  color: #1a1a1a;
}

.product1:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.09);
}

.product2:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.09);
}

        





     /*  banner section */

#banner{
  background: url(../img/b2.jpg);
  height: 40vh;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}  

#banner h4{
  color: white;
  font-size: 26px;
}

#banner h2{
  color: white;
  font-size: 30px;
  padding: 10px 0;
}

#banner h2 span{
  color: #ef3636;
}

#banner button{
  padding: 10px 25px;
  color: #1a1a1a;
  background-color: #cce7d0;
  border-radius: 10px;
  font-size: 18px;
  transition: 0.3s ease all;
}

#banner button:hover{
  background-color: #135D66;
  color: white;
}

/*    review  */

.clients{
  display:flex ;
  margin-top: 80px;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  
}
 .client3 p{
font-size: 18px;
}
 .client1 p{
  font-size: 18px;
 
 
}
.client2 p{
  font-size: 18px;

}
.client3{
  margin: 20px 20px;
  border: 1px solid #cce7d0;
  padding: 30px 30px;
  border-radius: 25px;
  transition: 0.3s all ease;
}
.client1{
  margin: 20px 20px;
  border: 1px solid #cce7d0;
  padding: 30px 30px;
  border-radius: 25px;
  transition: 0.3s all ease;
}
.client2{
  margin: 20px 20px;
  border: 1px solid #cce7d0;
  padding: 30px 30px;
  border-radius: 25px;
  transition: 0.3s all ease;
}

.client1:hover{
 transform: translateY(-5px);
 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
 opacity: 0.9;
}
.client3:hover{
   transform: translateY(-5px);
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
   opacity: 0.9;
}
.client2:hover{
   transform: translateY(-5px);
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
   opacity: 0.9;
}


      /*  payments section*/
      
.payments{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 80px 0;
  
}      



     /*  footer */

footer{
display: flex;
flex-wrap: wrap;
justify-content: space-between;

background-color: black;
color: white;
padding: 20px;


} 

footer .col{
  display: flex;
 
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo{
  cursor: pointer;
  margin-bottom: 30px;

}

footer h4{
  font-size: 14px;
  margin-bottom: 20px;
}

footer p{
  font-size: 13px;
  margin-bottom: 8px;
}

footer a{
  font-size: 13px;
  text-decoration: none;
  color: #cce7d0;
  padding: 10px 0;

}

footer .follow{
  margin-top: 30px;
}

footer .follow .icon{
  margin-right: 4px;
  cursor: pointer;
  
}
#face{
  transition: 0.3s ease all;
}
#face:hover{
 color: blue;
 
}
#insta{
  transition: 0.3s ease all;
}
#insta:hover{
  color: rgb(241, 7, 222);
  
}
#twiter{
  transition: 0.3s ease all;
}
#twiter:hover{
  color: aqua;
 }

footer .install .row img{
  border: 1px solid var(--primary-color);
  border-radius: 6px;
  cursor: pointer;
}
footer .install img{
  margin: 10px 0 15px;
}

footer .copyright{
  text-align: center;
  width: 100%;
}

   /* scrol*/

   .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 4s;
  }
  .reveal.scrol{
    transform: translateY(0px);
    opacity: 1;
  }