
  /*   mobile */

  @media  screen and (max-width:952px) {

  
    label.logo {
        font-size: 30px;
        padding-left: 0px;
    }
    nav ul li a{
        font-size: 16px;
    }

    }
    @media  screen and (max-width:317px) {
      .logo{
        position: absolute;
        bottom: -30px;
      }
      nav{
        position: relative;
      }
    }
  @media  screen and (max-width:858px) {
    nav{
      position: sticky;
      top: 0;
    }
    .checkbtn{
        display: block;
    }
    #shop{
      display: block;
      right: 75px;
      top: 28px;
      font-size: 25px;
      position: absolute;
      
  }
  .shoping{
      position: relative;
  }
  #bar{
    position: absolute;
    right: 30px;
    bottom: 30px;
}
#navbar.active{
  right: 0;
}
#close{
  position: absolute;
  top: 10px;
  text-decoration: none;
  left: 20px;
  color: #222;
  font-size: 26px;
}

  #navbar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0px;
    right: -300px;
    height: 60vh;
    width: 300px;
    background-color: #cce7d0;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 30px 0 0 10px;
    transition: 0.4s;
    margin-right: 0
  }
      nav ul li {
        margin-bottom: -10px;
      }
      nav ul li a{
        font-size: 17px;
        transition: 0.7s ease all;
        position: relative;
        color: #135D66;
      }
      ul li a.active,
      ul li  a:hover{
        color: gold;
      }
      ul li a.active::after,
      ul li a:hover::after{
       content: "";
       width: 30%;
       height: 2px;
       background-color: gold;
       position: absolute;
       bottom: 2px;
       left: 15px;
      }
      #check:checked ~ ul {
        left: 0;
      }
  }
    body{
      overflow-x: hidden;
    }

    .about .about-text{
       margin: 10px; 
        line-height: 30px;
        font-size: 22px;
    }
    .about .about-img1{
    
     height: auto;
     margin-left: 10px;
    
      margin-top: 20px;
    }
    .about{
        width: 100%;
       max-width: 100%;
        overflow: hidden;
        margin: 0;
       padding: 0;
    }
    .about1 .about-img1{
       
        height: auto;
       margin: 10px 25px;
       margin-top: 50px;
    }
    .about1{
        width: 100%;
        max-width: 100%;
         overflow: hidden;
         margin: 0;
        padding: 0; 
    }
    .about1 .about-text{
      
        line-height: 30px;
        font-size: 22px;
        margin: 20px;
    }
    .about2 .about-text{
      
        line-height: 30px;
        font-size: 22px;
        margin: 10px;
    }
    .about-text h2{
       font-size: 28px;
    }

    /*   footer   */

    footer .copyright{
        text-align: start;
       }
       footer .col{
        margin-left: 20px;
       }
